/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */

*{
    margin: 0;
    padding: 0;
}

/* banner-new-year styles */

.banner-new-year {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("./resources/Banner-Image.png");
    background-position: center;
    background-size: cover;
    max-width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px auto;
}
.banner-new-year-inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.banner-new-year h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin: auto;
}

.banner-new-year .happy{
    color: #FFF;
    text-align: center;
    width: 632px;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: 16px 0 0 0;
}

/* .banner-new-year .celebration{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: auto;
} */

/* discount style */

.discount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.sixty-off{
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.our-holiday{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 48px 0 0 0;
}

.all-categories{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin: 16px 0 0 0;
}

.new-year-photo{
    margin: 48px 0 0 0;
}

/* welcome-to-midnight-party styles */

.welcome-to-midnight-party{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("./resources/Vectorrr.png");
    background-position: center;
    background-size: cover;
    max-width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 120px auto;
}

.welcome-to-midnight-party-inside{
}

.welcome-heading{
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.welcome-text{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 166.667%;
    margin-bottom: 48px;
}

.welcome-btn{
    background-color: transparent;
    color: #FFF;
    border: none;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 32px;
}

.frame{
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    margin-left: 39.17px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

/* date time styles */
.date-time{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 120px auto;
}

.date-time-inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date-time-inside p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.date-time-inside p .color{
    color: #F00;
}

.date-time-inside button{
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 48px;
}

/* coming soon styles */
.coming-soon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1320px;
    height: 463px;
    margin: 120px auto;
}

.coming-soon-one{
    width: 393px;
    margin-right: 70px;
}

.coming-soon-one-heading{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.coming-soon-one h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.coming-soon-one-text{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.coming-soon-two{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 448px;
    height: 448px;
    border-radius: 463px;
    border: 15px solid #F00;
    margin-right: 118px;
}

.coming-soon-two img{
    padding: 49.08px;
}

.coming-soon-three{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 463px;
    width: 276px;
}

.coming-soon-three h1{
    width: 276px;
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    margin-bottom: 16px;
    line-height: normal;
}
.coming-soon-three p{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 43px;
    line-height: 160%;
}

.coming-soon-three img{
    width: 140px;
    height: 140px;
}

/* holiday sale styles */

.holiday-sale{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1320px;
    margin: 120px auto;
}

.top-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.holiday-sale .top-div h5{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.holiday-sale .top-div h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 28px;
}

.holidays{
    color: #F00;
}

.holiday-sale .top-div p{
    width: 1068px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 160% */
}

.bottom-div{
    height: 662px;
    width: 1320px;
    margin-top: 64px;
    background: url("./resources/Rectangle-2.png"), url("./resources/Rectangle-1.png");
    background-repeat: no-repeat;
    background-position: bottom, right top;
    position: relative;
}

.holiday-img-two{
    position: absolute;
    top: 13%;
    right: 21%;
}

/* card styles */
.card{
    width: 1320px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 120px;
}

.card-content{
    width: 896px;
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}

.card .card-content h4{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.card .card-content h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.card .card-content p{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.card-images{
    max-width: 1320px;
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
}

.card-images img{
    height: 450px;
    width: 424px;
}

/* subscribe styles */
.subscribe{
    width: 1320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 120px;
}
.subscribe img{
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
}

.subscribe h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.subscribe p{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

.subscribe div{
    display: flex;
    width: 648px;
    height: 72px;
}

.subscribe div input{
    width: 438px;
    border: none;
    border-radius: 50px 0 0 50px;
    padding-left: 6%;
}
.subscribe div ::placeholder{
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}
.subscribe div button{
    width: 210px;
    border: none;
    border-radius: 0 50px 50px 0;
    color: #FFF;
    background: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

/* footer */
footer{
    background: #070211;
    height: 609px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 120px;
}
.ftr-one{
    width: 1320px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.address{
    width: 375px;
    height: 80px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.contact{
    margin-right: 135px;
}
.contact div{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 251px;
    gap: 16px;
}
.contact p{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.ftr-two{
    width: 1320px;
    height: 160px;
    gap: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    border-top: rgba(255, 255, 255, 0.15) 1px solid;
    border-bottom: rgba(255, 255, 255, 0.15) 1px solid;
}

.ftr-three{
    width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}