/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */

/* banner-new-year styles */
.banner-new-year {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("./resources/Banner-Image.png");
    max-width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px auto;
    margin-bottom: 0;
}
.banner-new-year-inside{
    width: 90%;
}
.banner-new-year h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin: auto;
}

.banner-new-year .happy{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: 16px 0 0 0;
}

.banner-new-year .celebration{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: auto;
}

/* discount style */

.discount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    padding: 0;
}

.sixty-off{
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin: 0;
}

.our-holiday{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 0;
    margin: 48px 0 0 0;
}

.all-categories{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding: 0;
    margin: 16px 0 0 0;
}

.new-year-photo{
    padding: 0;
    margin: 48px 0 0 0;
}